absl-py==2.2.2
ale-py==0.10.2
appdirs==1.4.4
asyncio==3.4.3
atomicwrites==1.4.0
disutils==1.4.32.post2
Farama-Notifications==0.0.4
gy==1.0.2
gymnasium==1.1.1
jsonpointer==2.1
keras==3.9.2
matplotlib==3.9.2
ml_dtypes==0.5.1
multi-agent-ale-py==0.1.11
namex==0.0.8
nn==0.1.1
optree==0.15.0
pettingzoo==1.24.3
protobuf==4.25.3
pyasn1-modules==0.2.8
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
setuptools==78.1.0
torch==2.2.2
torchvision==0.17.2
wheel==0.44.0
